@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl_0.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl_1.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl_2.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl_3.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Museo Sans Cyrl';
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  max-width: 100%;
  height: 100%;
}

.g-wrap {
  width: 340px;
  padding: 0 17.5px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .g-wrap {
    width: 780px;
    padding: 0 122px;
  }
  .d-wrap {
    width: 1001px;
    padding: 0 23px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  background: #FFD241;
}

.header__burger {
  display: block;
  position: relative;
  margin: 0 0 0 auto;
  width: 30px;
  height: 4px;
  border: none;
  background: #000000;
  cursor: pointer;
}

.header__burger::before, .header__burger::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 5px;
  left: 0;
  background: #000000;
}

.header__burger::before {
  top: 8px;
}

.header__burger::after {
  top: -9px;
}

.tours__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0 0 0;
  padding: 0 0 15px 0;
  font-size: 36px;
  line-height: 43px;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 2px solid #C4C4C4;
}

.tours__list {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid #C4C4C4;
}

.tours__item:last-child {
  display: none;
}

.tour {
  position: relative;
  margin: 0 0 30px 0;
}

.tour img {
  width: 340px;
  height: 195px;
}

.tour__title {
  display: block;
  position: relative;
  margin: 25px 0 0 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.tour__title span {
  position: absolute;
  font-size: 9px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #C5B223;
  top: -15px;
  left: 0;
}

.tour__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  width: 160px;
  height: 50px;
  left: 0;
  top: 145px;
  background: #FFD241;
}

.tour__route {
  margin: 15px 0 0 0;
  font-size: 9px;
  line-height: 13px;
  font-weight: 700;
  color: #8C8C8C;
}

.tour__descr {
  margin: 12px 0 0 0;
  font-size: 9px;
  line-height: 11px;
  font-weight: 700;
  width: 160px;
}

.tour__flight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 12px 0 0 0;
  font-size: 9px;
  line-height: 11px;
  font-weight: 700;
  color: #ffffff;
  width: 130px;
  height: 17px;
  background: #CB0037;
  border-radius: 3px;
}

.tour:nth-child(2) .tour__flight, .tour:nth-child(3) .tour__flight {
  display: none;
}

@media (min-width: 1024px) {
  .tours__title {
    margin: 40px 0 0 0;
    letter-spacing: -2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    border: none;
  }
  .tours__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
  }
  .tours__item:last-child {
    display: block;
  }
  .tour {
    margin: 0 0 55px 0;
    width: 380px;
    height: 370px;
  }
  .tour img {
    width: 380px;
    height: 218px;
  }
  .tour__price {
    top: 168px;
  }
}

.request__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 0 0;
  font-size: 36px;
  line-height: 43px;
  font-weight: 900;
}

.form {
  min-height: 1156px;
}

.form fieldset {
  margin: 35px 0 0 0;
  padding: 0;
  border: none;
}

.form__title {
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
}

.form__contain--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 295px;
  margin: 25px auto 0 auto;
}

.form__element {
  margin: 15px 0 0 0;
}

.form__element input[type="text"] {
  margin: 7px 0 0 0;
  width: 338px;
  height: 48px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}

.form__value {
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.form__checkbox {
  margin: 0;
  height: 70px;
  width: 60px;
}

.form__checkbox input[type="checkbox"] {
  display: none;
}

.form__checkbox label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  height: 12px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
}

.form__checkbox label::before {
  position: absolute;
  content: '';
  width: 38px;
  height: 38px;
  top: 22px;
  left: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}

.form__checkbox input[type="checkbox"]:checked + label::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 12px;
  top: 36px;
  left: 20px;
  background: url("../img/checkbox.svg") no-repeat center;
}

.form label[for="first-name"]::after,
.form label[for="location"]::after {
  content: ' *';
  color: #a90000;
}

.form__comment {
  margin: 40px 0 0 0;
  padding: 0 0 0 30px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
  color: #c1c1c1;
}

.form__comment::before {
  content: '* ';
  color: #a90000;
}

.form__btn {
  display: block;
  position: relative;
  margin: 30px auto 0 auto;
  padding: 0 0 0 30px;
  width: 280px;
  height: 49px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  background: #FFD241;
  border-radius: 29.5px;
  border: none;
}

.form__btn::after {
  position: absolute;
  content: '';
  width: 6px;
  height: 10px;
  top: 19px;
  right: 25px;
  background: url("../img/arrow-btn.svg") no-repeat center;
}

.subscribe,
.data {
  margin: 30px 0 0 0;
}

.subscribe input[type="checkbox"],
.data input[type="checkbox"] {
  display: none;
}

.subscribe label,
.data label {
  position: relative;
  padding: 0 0 0 32px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
}

.subscribe label::before,
.data label::before {
  position: absolute;
  content: '';
  width: 13px;
  height: 13px;
  left: 0;
  top: -2px;
  border: 1px solid #e7e7e7;
}

.subscribe label input[type="checkbox"]:checked + .indicator::after,
.data label input[type="checkbox"]:checked + .indicator::after {
  position: absolute;
  content: '';
  width: 11px;
  height: 6px;
  top: 3px;
  left: 2px;
  background: url("../img/smile-checkbox.svg") no-repeat center;
}

.subscribe__descr,
.data__descr {
  margin: 10px 0 0 0;
  padding: 0 0 0 32px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
  color: #c1c1c1;
}

.data label::after {
  content: ' *';
  color: #a90000;
}

@media (min-width: 1024px) {
  .form {
    min-height: 900px;
  }
  .form__contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__contain--checkbox {
    width: 320px;
  }
  .form__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__element input[type="text"] {
    width: 378px;
  }
  .form__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__flex fieldset {
    width: 380px;
  }
  .form__comment {
    margin: 50px 0 0 0;
  }
  .form__btn {
    margin: 50px 0 0 0;
  }
  .subscribe,
  .data {
    margin: 50px 0 0 0;
  }
  .subscribe__descr,
  .data__descr {
    margin: 20px 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */