@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl_0.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl_1.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl_2.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl_3.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Museo Sans Cyrl';
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  max-width: 100%;
  height: 100%;
}

.g-wrap {
  width: 340px;
  padding: 0 17.5px;
  margin: 0 auto;
}

a, button {
  cursor: pointer;
}

a, button, label, input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

@media (min-width: 1024px) {
  .g-wrap {
    width: 780px;
    padding: 0 122px;
  }
  .d-wrap {
    width: 1001px;
    padding: 0 23px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  background: #FFD241;
}

.header__burger {
  display: block;
  position: relative;
  margin: 0 0 0 auto;
  width: 30px;
  height: 4px;
  top: 9px;
  border: none;
  background: #000000;
  cursor: pointer;
}

.header__burger::before, .header__burger::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 5px;
  left: 0;
  background: #000000;
}

.header__burger::before {
  top: 8px;
}

.header__burger::after {
  top: -9px;
}

.toggle {
  display: block;
  margin: 0 0 0 auto;
  width: 30px;
  height: 22px;
}

.tours__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0 0 0;
  padding: 0 0 15px 0;
  font-size: 36px;
  line-height: 43px;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 2px solid #C4C4C4;
}

.tours__list {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid #C4C4C4;
}

.tours__item:last-child {
  display: none;
}

.tour {
  position: relative;
  margin: 0 0 30px 0;
}

.tour img {
  width: 340px;
  height: 195px;
}

.tour__title {
  display: block;
  position: relative;
  margin: 25px 0 0 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.tour__title span {
  position: absolute;
  font-size: 9px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #C5B223;
  top: -15px;
  left: 0;
}

.tour__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  width: 160px;
  height: 50px;
  left: 0;
  top: 145px;
  background: #FFD241;
}

.tour__route {
  margin: 15px 0 0 0;
  font-size: 9px;
  line-height: 13px;
  font-weight: 700;
  color: #8C8C8C;
}

.tour__descr {
  margin: 12px 0 0 0;
  font-size: 9px;
  line-height: 11px;
  font-weight: 700;
  width: 160px;
}

.tour__flight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 12px 0 0 0;
  font-size: 9px;
  line-height: 11px;
  font-weight: 700;
  color: #ffffff;
  width: 130px;
  height: 17px;
  background: #CB0037;
  border-radius: 3px;
}

.tour:nth-child(2) .tour__flight, .tour:nth-child(3) .tour__flight {
  display: none;
}

@media (min-width: 1024px) {
  .tours__title {
    margin: 40px 0 0 0;
    letter-spacing: -2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    border: none;
  }
  .tours__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
  }
  .tours__item:last-child {
    display: block;
  }
  .tour {
    margin: 0 0 55px 0;
    width: 380px;
    height: 370px;
  }
  .tour img {
    width: 380px;
    height: 218px;
  }
  .tour__price {
    top: 168px;
  }
}

.request__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 0 0;
  font-size: 36px;
  line-height: 43px;
  font-weight: 900;
}

.form {
  min-height: 1156px;
}

.form fieldset {
  margin: 35px 0 0 0;
  padding: 0;
  border: none;
}

.form__title {
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
}

.form__contain--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 295px;
  margin: 25px auto 0 auto;
}

.form__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: 15px 0 0 0;
}

.form__element input[type="text"],
.form__element input[type="tel"] {
  margin: 7px 0 0 0;
  padding: 0 0 0 25px;
  width: 313px;
  height: 48px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}

.form__element input[type="text"]::-webkit-input-placeholder,
.form__element input[type="tel"]::-webkit-input-placeholder {
  font-weight: 300;
  opacity: 0.6;
}

.form__element input[type="text"]:-ms-input-placeholder,
.form__element input[type="tel"]:-ms-input-placeholder {
  font-weight: 300;
  opacity: 0.6;
}

.form__element input[type="text"]::-ms-input-placeholder,
.form__element input[type="tel"]::-ms-input-placeholder {
  font-weight: 300;
  opacity: 0.6;
}

.form__element input[type="text"]::placeholder,
.form__element input[type="tel"]::placeholder {
  font-weight: 300;
  opacity: 0.6;
}

.form__element input[type="text"]:focus,
.form__element input[type="tel"]:focus {
  border: 1px solid #000000;
}

.form__element input[type="text"]:focus:required,
.form__element input[type="tel"]:focus:required {
  border: 1px solid #CB0037;
}

.form__element input[type="text"]:focus:required + .form__value::before,
.form__element input[type="tel"]:focus:required + .form__value::before {
  position: absolute;
  content: 'Обязательное поле';
  width: 150px;
  height: 10px;
  font-size: 10px;
  line-height: 12px;
  color: #CB0037;
  text-transform: none;
  top: 75px;
  right: -50px;
}

.form__element input[type="text"]:focus:valid,
.form__element input[type="tel"]:focus:valid {
  border: 1px solid #e7e7e7;
}

.form__element input[type="text"]:focus:valid + .form__value::before,
.form__element input[type="tel"]:focus:valid + .form__value::before {
  content: '';
}

.form__value {
  position: relative;
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.form__checkbox {
  margin: 0;
  height: 70px;
  width: 60px;
}

.form__checkbox input[type="checkbox"] {
  display: none;
}

.form__checkbox label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  height: 12px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
}

.form__checkbox label::before {
  position: absolute;
  content: '';
  width: 38px;
  height: 38px;
  top: 22px;
  left: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}

.form__checkbox input[type="checkbox"]:checked + label::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 12px;
  top: 36px;
  left: 20px;
  background: url("../img/checkbox.svg") no-repeat center;
}

.form label[for="first-name"]::after,
.form label[for="location"]::after {
  content: ' *';
  color: #CB0037;
}

.form__comment {
  margin: 40px 0 0 0;
  padding: 0 0 0 30px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
  color: #c1c1c1;
}

.form__comment::before {
  content: '* ';
  color: #CB0037;
}

.form__btn {
  display: block;
  position: relative;
  margin: 30px auto 0 auto;
  padding: 0 0 0 30px;
  width: 280px;
  height: 49px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  background: #FFD241;
  border-radius: 5px;
  border: none;
}

.form__btn::after {
  position: absolute;
  content: '';
  width: 6px;
  height: 10px;
  top: 19px;
  right: 25px;
  background: url("../img/arrow-btn.svg") no-repeat center;
}

.subscribe,
.data {
  margin: 30px 0 0 0;
}

.subscribe input[type="checkbox"],
.data input[type="checkbox"] {
  display: none;
}

.subscribe label,
.data label {
  position: relative;
  padding: 0 0 0 32px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
}

.subscribe label::before,
.data label::before {
  position: absolute;
  content: '';
  width: 13px;
  height: 13px;
  left: 0;
  top: -2px;
  border: 1px solid #e7e7e7;
}

.subscribe label input[type="checkbox"]:checked + .indicator::after,
.data label input[type="checkbox"]:checked + .indicator::after {
  position: absolute;
  content: '';
  width: 11px;
  height: 6px;
  top: 3px;
  left: 2px;
  background: url("../img/smile-checkbox.svg") no-repeat center;
}

.subscribe__descr,
.data__descr {
  margin: 10px 0 0 0;
  padding: 0 0 0 32px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
  color: #c1c1c1;
}

.data label::after {
  content: ' *';
  color: #CB0037;
}

@media (min-width: 1024px) {
  .form {
    min-height: 900px;
  }
  .form__contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__contain--checkbox {
    width: 320px;
  }
  .form__element input[type="text"],
  .form__element input[type="tel"] {
    width: 353px;
  }
  .form__element input[type="text"]:required + .form__value::before,
  .form__element input[type="tel"]:required + .form__value::before {
    left: 0;
  }
  .form__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__flex fieldset {
    width: 380px;
  }
  .form__comment {
    margin: 50px 0 0 0;
  }
  .form__btn {
    margin: 50px 0 0 0;
  }
  .subscribe,
  .data {
    margin: 50px 0 0 0;
  }
  .subscribe__descr,
  .data__descr {
    margin: 20px 0 0 0;
  }
}

.modal {
  display: block;
  position: fixed;
  margin: 0 -100% 0 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  background: #FFD241;
  z-index: 5;
}

.modal__close {
  margin: 22px 0 0 auto;
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.modal__close::before, .modal__close::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 5px;
  top: 10px;
  left: -2px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__сountries {
  position: relative;
  display: block;
  padding: 0 30px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  outline: none;
  height: 40px;
  border: none;
  border-radius: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ffffff;
  background-image: url("../img/arrow-menu-selected.svg");
  background-repeat: no-repeat;
  background-position: 250px center;
}

.modal__сountries option {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.modal__сountries option[selected] {
  display: none;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px auto 0 auto;
  width: 280px;
  min-height: 110px;
}

.modal__search, .modal__pick {
  display: block;
  height: 47px;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
}

.modal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0 0 0;
  padding: 0;
  min-height: 153px;
  list-style: none;
}

.modal__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  color: #000000;
}

.modal__bottom {
  position: absolute;
  bottom: 10%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 -140px;
  min-height: 100px;
  width: 280px;
}

.modal__number {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #000000;
}

.modal-show {
  margin: 0;
  opacity: 1;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.modal-show-two {
  margin: 0 -100% 0 0;
  opacity: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.overlay-show {
  display: block;
}

.__select,
.__select-two {
  /*position: relative;
  height: 40px;
  margin: 0 auto;*/
  position: relative;
  display: block;
  padding: 0 30px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  outline: none;
  height: 40px;
  border: none;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ffffff;
}

.__select[data-state="active"] .__select__title::before,
.__select[data-state="active"] .__select__title-two::before,
.__select-two[data-state="active"] .__select__title::before,
.__select-two[data-state="active"] .__select__title-two::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}

.__select[data-state="active"] .__select__title::after,
.__select[data-state="active"] .__select__title-two::after,
.__select-two[data-state="active"] .__select__title::after,
.__select-two[data-state="active"] .__select__title-two::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}

.__select[data-state="active"] .__select__content,
.__select[data-state="active"] .__select__content-two,
.__select-two[data-state="active"] .__select__content,
.__select-two[data-state="active"] .__select__content-two {
  opacity: 1;
}

.__select[data-state="active"] .__select__label + .__select__input + .__select__label,
.__select[data-state="active"] .__select__label-two + .__select__input-two + .__select__label-two,
.__select-two[data-state="active"] .__select__label + .__select__input + .__select__label,
.__select-two[data-state="active"] .__select__label-two + .__select__input-two + .__select__label-two {
  max-height: 40px;
}

.__select__title,
.__select__title-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.__select__title::before, .__select__title::after,
.__select__title-two::before,
.__select__title-two::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #333333;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}

.__select__title::after,
.__select__title-two::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}

.reset,
.reset-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: solid 1px #c7ccd1;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  font-weight: bold;
  background-color: #ffffff;
  color: #333333;
}

.reset:hover,
.reset-two:hover {
  background-color: #D8093A;
  color: #ffffff;
}

.__select__content,
.__select__content-two {
  position: absolute;
  top: 40px;
  left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 6px);
  background-color: #ffffff;
  border: none;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.__select__input,
.__select__input-two {
  display: none;
}

.__select__input:checked + label,
.__select__input-two:checked + label {
  background-color: #dedede;
}

.__select__input:disabled + label,
.__select__input-two:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label,
.__select__label-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 242px;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}

.__select__label + input + .__select__label,
.__select__label-two + input + .__select__label, .__select__label + input +
.__select__label-two,
.__select__label-two + input +
.__select__label-two {
  border-top: 0 solid #C7CCD160;
}

.__select__label:hover,
.__select__label-two:hover {
  background-color: #C5B223 !important;
  color: #ffffff;
}

@media (min-width: 1024px) {
  .modal {
    width: 50%;
  }
  .modal__bottom {
    left: 55%;
  }
  .modal .g-wrap {
    width: 70%;
    padding: 0 20% 0 20%;
  }
}
/*# sourceMappingURL=style.css.map */